html{
    font-family: "Inter";
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 26px;
}
.back{
    background-color: #141414;

}
.card{
    border: 2px solid #1F1F1F;
    border-radius: 20px;
    width: 375px;
    height: auto;
    position: relative;
    padding: 10px;
    padding-top: 0px;
    top: 10%;
    left: 30%;
    background-color: #1F1F1F;
    overflow: hidden;
}
.topside{
    border: 2px SOLID transparent;
    position: inherit;
    height: auto;
    padding: 10PX;
    padding-bottom: 1px;
    padding-top: 7px;
    
}
.container{
    border: 2px solid transparent;
    border-radius: 200px ;
    position: relative;
    left: 39%;
    height:80px ;
    object-fit: cover;
}
.title{
    border: 2px solid transparent;
    position: relative;
    left:27% ;
    margin: 5px;
    margin-bottom: 1px;
    width:fit-content;
    color: snow;
    font-size: 1.5rem;
}
.location{
    border: 2px solid transparent;
    position: relative;
    left:35% ;
    margin: 2px;
    width:fit-content;
    color: green;
    font-size:0.7rem;
    
  
}
.h-P{
    color:snow;
    margin: 5px;
    font-size: 0.6rem;
}
.btm{
    border: 2px solid transparent;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: inherit;
    height:auto;
}
button{
    box-shadow: 7px 5PX 8px black;
    background-color: #3A3A3A;
    width: 85%;
    height: 5%;
    position: relative;
    left:7%;
    border-radius:  700px;
    margin-top: 20px;
    color: snow;

}

button:hover {
    background-color: #555;
    box-shadow: 7px 5px 8px #222;
    opacity: 70%;
}

.img-fluid{
    border: 2px;
    border-radius: 600px;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
    width: 85%;
    height: 10%;
    margin-top: 20px;


}
@media screen and (min-width: 1000px) {
button{
    height: 9%;
    font-size:0.5rem ;
    
    

    }
button:hover{
    cursor: pointer;
}
.card{
    display: flexbox;
    justify-content: center;  
    align-items: center;
    position:relative;
    left: 35%;
}
.img-fluid{
position: relative;
left: 3%;
}
}